.footer {
    background: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    margin-top: 40px;
}

.footer-left h2 {
    margin: 0;
}

.footer-right ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-right ul li {
    margin-bottom: 6px;
}

.footer-right a {
    color: white;
    text-decoration: none;
}

.footer-right a:hover {
    text-decoration: underline;
}
